<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Interface d'administration</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<style type="text/css" media="screen">
		body {
			font: 12px "Trebuchet MS", Verdana, sans-serif;
		}
	</style>
</head>
<body>
	<h1>Interface d'administration</h1>
	<h2>{% block title %}{% endblock %}</h2>
	{% block content %}{% endblock %}
</body>
</html>