<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Admin</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
	<style type="text/css" media="screen">
	@import "/stylesheets/jquery-ui-1.8.4.css";
	@import "/stylesheets/data_table.css";
		body {
			margin-top: 30px;
			font: 12px "Trebuchet MS", Verdana, sans-serif;
		}
	</style>
	{% block head_end %}{% endblock %}
</head>
<body>
		
	<h1>Interface d'administration</h1>
	<h2>{% block title %}{% endblock %}</h2>
	{% block content %}{% endblock %}
</body>
</html>